    
  <div class="container" ng-controller="AddCtrl">

    <div class="panel panel-success">
      <div class="panel-heading">分类</div>
      <div class="panel-body">
        <span ng-repeat='tag in tags'>
          <span class="n-add-type" ng-click='show(ta.tagname)' ng-repeat='ta in tag'>
            {{ ta.tagname }}
          </span>
          <p/>
        </span>
      </div>
    </div>

    <div class="alert alert-warning alert-dismissable" ng-show="cont.eshow">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <strong>{{ cont.error  }}</strong> 
    </div>

    <div class="panel panel-info">
      <!-- Default panel contents -->
      <div class="panel-heading">{{ cont.tagname }}</div>
      <div class="panel-body">
        <p>
          <textarea class="n-add-content-area" ng-model="cont.scontent" ng-blur='blur()'>
          {{ cont.scontent }}
          </textarea>
        </p>
        <p ng-show="cont.ashow">
          <button type="button" ng-click="submit()" class="btn btn-primary btn-sm">添加入账</button>
          &nbsp;&nbsp;
          <button type="button" ng-click="reset()" class="btn btn-primary btn-sm">清空入账</button>
        </p>
      </div>

      <!-- List group -->
      <ul class="list-group">
        <li class="list-group-item">
        {{ cont.total }}&nbsp;&nbsp;&nbsp;&nbsp;<a style="color:#d14;">本月收入预算：{{budget.revenue}}, 支出预算：{{budget.outlay}}, 已经消费：{{budget.moutlay}} 剩余预算：{{budget.outlay-budget.moutlay}}</a>
        </li>
        <li class="list-group-item" ng-repeat="tal in cont.result">
        <span class="n-add-type">{{tal.name}}</span>
        {{tal.value}}
        </li>
      </ul>
    </div>

  </div>





