


<div class="p_pub_view" ng-controller="RlCtrl">

	<div class="p_pub_nav">
		<span class="left">&nbsp;<img id="p_pub_nav_left" width="40" height="40" src="/img/nav-left.png" /></span>
		<span></span>
		<span class="right"><img id="p_pub_nav_right" width="40" height="40" src="/img/nav-right.png" /></span>
	</div>

	<script>


$(function(){
	var left = true;

	$("#p_pub_nav_left").click(function(){

		if(left){
			$(".app_left").animate({ 
			    left: "0",
			    opacity: 'toggle'
			}, 100);

			$(".p_pub_nav").animate({ 
		    	left: "66%",
		    	opacity: '1'
		    }, 100);

		    left = false;
		}else{
			$(".app_left").animate({ 
			    left: "-66%",
			    opacity: 'toggle'
			}, 100);

			$(".p_pub_nav").animate({ 
		    	left: "0",
		    	opacity: '1'
		    }, 100);

		    left = true;
		}
		
	});

	$("#p_pub_nav_right").click(function(){
		$(".app_right").animate({ 
		    width: "40%",
		    opacity: 'toggle'
		  }, 1000);
	});


});
	</script>
</div>