


<div class="p_pub_view" ng-controller="RlCtrl">

	<div class="p_pub_nav">
		<span class="left">&nbsp;<img id="p_pub_nav_left" width="40" height="40" src="/img/nav-left.png" /></span>
		<span class="header">{{names}}</span>
		<span class="right"><img id="p_pub_nav_right" width="40" height="40" src="/img/nav-right.png" /></span>
	</div>

	<div id="p_pub_cont" class="p_pub_cont">
		<div class="pub_cell" ng-click="updAdd(mid)"><h2>{{ header }}</h2></div>
		<div class="pub_cell"><h3>{{ price }}</h3></div>
		<div class="pub_cell">
			<ul class="list-group">
		        <li class="list-group-item" ng-repeat="b in body">
	        		<span class="label label-success">{{ b.tagname }}</span>：{{ b.price }}元
		        </li>
		    </ul>
		</div>

		<input type="button" ng-click="testRl()" value="test" />
	</div>

</div>