<%- include p_header.html %>


<div ng-app='pApp'>

    <!--左侧导航-->
    <div class="app_left">
        <div class="cell cell_header ">
            <span class="icons icon-user"></span>
        </div>
        <div id="rl_left" class="cell cell_cont cell_active">
            <span class="icons icon-calendar"></span>
            <span><a href="#/">日历</a></span>
        </div>
        <div id="ys_left" class="cell cell_cont">
            <span class="icons icon-list"></span>
            <span><a href="#/budget">预算</a></span>
        </div>
        <div id="yz_left" class="cell cell_cont">
            <span class="icons icon-stats"></span>
            <span><a href="#/mtotal">月总报表</a></span>
        </div>
        <div id="yf_left" class="cell cell_cont">
            <span class="icons icon-bars"></span>
            <span>月类报表</span>
        </div>
        <div id="jd_left" class="cell cell_cont">
            <span class="icons icon-pie"></span>
            <span>季度报表</span>
        </div>
        <div id="we_left" class="cell cell_cont">
            <span class="icons icon-bars2"></span>
            <span>周报表</span>
        </div>
        <div id="ss_left" class="cell cell_cont">
            <span class="icons icon-qrcode"></span>
            <span><a href="#/ewm">扫一扫</a></span>
        </div>
        <div id="sz_left" class="cell cell_cont">
            <span class="icons icon-cog"></span>
            <span>设置</span>
        </div>
    </div>

    <!--分部视图-->
    <div class="n-view container" ng-view>

    </div>

</div>



<%- include p_footer.html %>