
.p_pub_view{
	background-color: transparent;
	width: 100%;
	min-height: 680px;
	height: auto;
	height: 100%;
	margin: 0px auto;
}

.p_pub_nav{
	width: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	min-height: 50px;
	border: 1px solid transparent;
	border-width: 0 0 1px;
	border-color: #e7e7e7;
	background-color: #f8f8f8;
	margin-bottom: 20px;
	z-index: 1030;
}

.p_pub_nav span{
	float: left;
	height: auto;
	width: 33%;
	min-height: 40px;
	margin: 1px auto;
	z-index: 1031;
}

.p_pub_nav > span.left{
	text-align: left;
}

.p_pub_nav > span.right{
	text-align: right;
}

.p_pub_nav > span.header{
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	line-height: 46px;
	color: #898;
}

.p_pub_cont{
	width: 100%;
	position: fixed;
	top: 50px;
	left: 0px;
	min-height: 500px;
	margin: 5px auto;
	height: 100%;
	border: 0px solid transparent;
	z-index: 1030;
}

.app_left{
	width: 66%;
	height: 100%;
	border-right: 1px solid #e7e7e7;
	position: absolute;
	left: -66%;
	top: 0px;
	z-index: 1034;
	background-color: #fff;
}

.app_right{
	width: 40%;
	height: 100%;
	border-right: 1px solid #e7e7e7;
	position: absolute;
	right: 0px;
	top: 0px;
	z-index: 1034;
	display: none;
	background-color: #000000;
	opacity: 0.4;
}

.cell_header {
  height: 120px;
  line-height: 120px;
}

.cell_cont {
  height: 40px;
  line-height: 37px;
}

.cell {
  width: 100%;
  border-bottom: 1px ridge #ccc;
  margin: 0px auto;
  background-color: !important;
  text-align: center;
  font-size: 1.2em;
  cursor: pointer;
  color: #898;
  opacity: 0.9;
}

.cell span{
	width: 40%;
	height: auto;
	min-height: 36px;
	margin: 1px auto;
	float: left;
	text-align: left;
}

.cell span a{
  color: #898;
  text-decoration: none;
}

.cell > .icons{
	font-size: 22px;
	padding-top: 8px;
	padding-right: 10%;
	text-align: right;
}

.cell_active{
	background-color: #06ba8f;
	border-bottom: 1px ridge #06ba8f;
	color: #fff;
}

.cell_active > span > a{
	color: #fff;
}

.pub_cell{
  width: 60%;
  min-height: 40px;
  height: auto;
  border-bottom: 0px ridge #ccc;
  margin: 2px auto;
  background-color: !important;
  text-align: left;
  font-size: 1.2em;
  color: #345;
}

.add_cell_header{
	width: 100%;
	min-height: 240px;
	color: #fff;
}

.add_cell_header > span{
	width: 25%;
	min-height: 50px;
	line-height: 50px;
	border-bottom: 1px solid #333;
	border-right: 1px solid #333;
	float: left;
	text-align: center;
	background-image: url('/img/selectagsbg.png');
	background-repeat: repeat;
}

.add_cell_body{
	width: 94%;
	height: auto;
}

.panel-heading a{
	color: #898;
}

.erweima{
    text-align:center;
    padding-top: 100pxï¼›
}

.tubiao{
	-webkit-transform: rotate(-90deg);
  	-moz-transform: rotate(-90deg);
}