
body{
	background-color: #f7f5fa;
}

.n-navbar{
	text-shadow: 0 -1px 0 rgba(0,0,0,.15);
	background-color: #419641;
	border-color: #463265;
	box-shadow: 0 1px 0 rgba(255,255,255,.1);
	position: fixed;
	right: 0;
	left: 0;
	top: 0;
	z-index: 1030;
	min-height: 50px;
	margin-bottom: 20px;
	border: 1px solid transparent;
}

.container a{
	color: #fff;
}

.container a:hover{
	color: #333;
}

.n-view{
	margin: 80px auto 0px auto;
	border: 1px solid transparent;
	min-height: 768px;
}

